@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --mobile: 375px;
  --desktop: 1440px;

  --dark-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  /* Gradient */

  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /* Text Color */

  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);

  /* Font size */
  --font-size-body: 12px;

  /* Font Family */
  --main-font: "Kumbh Sans", sans-serif;

  /* Font Weight */
  --regular: 400;
  --bold: 700;
}
