.accordion_container {
  max-width: 350px;
}

.accordion_title {
  text-align: center;
  color: var(--dark-blue);
  font-size: 32px;
  font-weight: var(--bold);
  margin-bottom: 19px;
}

.accordion-list_item {
  padding: 19px 0 16px;
  border-bottom: 1px solid #e8e8ea;
}

.accordion-list_title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2px;
}

.accordion-list_title {
  font-size: 13px;
  font-weight: var(--regular);
  color: var(--very-dark-grayish-blue);
}

.accordion-list_icon {
  width: 8px;
  height: 4px;
}

.accordion-list_content {
  font-size: var(--font-size-body);
  line-height: 1.5;
  color: var(--dark-grayish-blue);
  padding-top: 11px;
}
