.image_container {
  position: absolute;
  top: -108px;
  left: 17px;
}

.image_desktop {
  display: none;
}

.image_mobile {
  display: block;
}

@media (min-width: 425px) {
  .image_mobile {
    transform: translateX(10%);
  }
}

@media (min-width: 768px) {
  .image_mobile {
    transform: translateX(30%);
  }
}

@media (min-width: 1366px) {
  .image_container {
    position: absolute;
    top: 0;
    left: -45px;
  }

  .image_desktop {
    display: block;
  }

  .image_mobile {
    display: none;
  }
}
